<section id="mush--product-highlights">
    <div class="section-wrapper pt-[36px] xl:pt-7 pb-[60px] xl:pb-[86px] px-7 xl:px-[94px] bg-black lg:bg-pink text-white">
        <h2 class="text-white text-center text-[28px] xl:text-[64px] font-bold mb-2 xl:mb-5 tracking-[-1.4px] xl:tracking-[-3.2px] leading-none {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
            What Powers Day Shrooms?
        </h2>
        <p class="text-sm xl:text-[28px] leading-[1.1] tracking-[-0.689px] xl:tracking-[-1.4px] text-center xl:px-24 mb-12">
            A powerful blend of functional mushrooms, nootropics, adaptogens, and vitamins —all working together to fuel your focus, energy, and calm.

        </p>


        <div class="bg-black text-white text-center rounded-[114px] xl:px-[100px] xl:py-[50px]">
            <div class="grid grid-cols-2 xl:flex gap-7 xl:gap-11 xl:justify-between">
                <div>
                    <p class="text-[30px] xl:text-[45px] font-semibold tracking-[-1.539px] xl:tracking-[-2.25px] leading-[1.1]">2000mg</p>
                    <p class="text-sm xl:text-lg tracking-[-0.684px] xl:tracking-[-1px] leading-[1.1]">Fruiting Body <br/> Mushrooms</p>
                </div>
                <div>
                    <p class="text-[30px] xl:text-[45px] font-semibold tracking-[-1.539px] xl:tracking-[-2.25px] leading-[1.1]">60mg</p>
                    <p class="text-sm xl:text-lg tracking-[-0.684px] xl:tracking-[-1px] leading-[1.1]">Caffeine derived <br/> from Green Tea</p>
                </div>
                <div>
                    <p class="text-[30px] xl:text-[45px] font-semibold tracking-[-1.539px] xl:tracking-[-2.25px] leading-[1.1]">850mg</p>
                    <p class="text-sm xl:text-lg tracking-[-0.684px] xl:tracking-[-1px] leading-[1.1]">Natural Nootropics & <br/> Adaptogens</p>
                </div>
                <div>
                    <p class="text-[30px] xl:text-[45px] font-semibold tracking-[-1.539px] xl:tracking-[-2.25px] leading-[1.1]">200mg</p>
                    <p class="text-sm xl:text-lg tracking-[-0.684px] xl:tracking-[-1px] leading-[1.1]">L-theanine for <br/> reduced jitters</p>
                </div>
                <div class="col-span-2 xl:col-span-1">
                    <p class="text-[30px] xl:text-[45px] font-semibold tracking-[-1.539px] xl:tracking-[-2.25px] leading-[1.1]">100% DV</p>
                    <p class="text-sm xl:text-lg tracking-[-0.684px] xl:tracking-[-1px] leading-[1.1]">100%of your daily <br/> vitamins B12 & D2</p>
                </div>
            </div>

        </div>
    </div>

</section>


{%  schema  %} 
    {
        "name": "Product Highlights",
        "class": "section--product-highlights",
        "settings": [

        ],
        "presets": [
            {
                "name": "Product Highlights"
            }
        ]
    } 
{% endschema %}