<section id="mush--lifestyle-section">
    <div class="section-wrapper py-[106px]">


        <div class="grid grid-cols-2 gap-[38px] items-center">

            <div class="ml-[102px] ">
                <h2 class="text-[64px] font-bold mb-20 tracking-[-3.2px] leading-none {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
                    Smarter Productivity, Zero Chaos
                </h2>

                <p class="text-[35px] tracking-[-1.75px] leading-[1.1] mr-14">
                    Designed for entrepreneurs, creators, and decision-makers who demand more from their day. Day Shrooms is your go-to for unlocking focus, fueling flow, and staying unstoppable —calm, sharp, and always in control.
                </p>
            </div>

            <img src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/mushpreneur-ls-image_1.png?v=1736095987" alt="Image">

        </div>

    </div>
</section>


{%  schema  %} 
    {
        "name": "Lifestyle Section",
        "class": "section--lifestyle-section",
        "settings": [

        ],
        "presets": [
            {
                "name": "Lifestyle Section"
            }
        ]
    } 
{% endschema %}