<section id="mush--social-proof">
    <div class="section-wrapper py-[90px] px-[86px] text-center">
        <h2 class="text-[48px] font-bold leading-tight tracking-[-2.4px] mb-2.5" >
            Why Doers Love Day Shrooms.
        </h2>
        <p class="text-[28px] mb-12 tracking-[-1.4px] leading-[1.1]">
            Join the thinkers, creators, and achievers who have discovered the smarter way to power their day.
        </p>


        <!-- Reviews -->
        <div class="grid grid-cols-3 gap-9">
            <div class="aspect-[4/3] w-full" style="border-radius: 18.716px;background: var(--e-458252-paints, linear-gradient(178deg, rgba(238, 26, 110, 0.00) 39.14%, #EE1A6E 245.11%), #E45825);">blank</div>
            <div class="aspect-[4/3] w-full" style="border-radius: 18.716px;background: var(--e-458252-paints, linear-gradient(178deg, rgba(238, 26, 110, 0.00) 39.14%, #EE1A6E 245.11%), #E45825);">blank</div>
            <div class="aspect-[4/3] w-full" style="border-radius: 18.716px;background: var(--e-458252-paints, linear-gradient(178deg, rgba(238, 26, 110, 0.00) 39.14%, #EE1A6E 245.11%), #E45825);">blank</div>

        </div>

    </div>

</section>



{%  schema  %} 
    {
        "name": "Social Proof",
        "class": "section--social-proof",
        "settings": [

        ],
        "presets": [
            {
                "name": "Social Proof"
            }
        ]
    } 
{% endschema %}