<section id="mush--hero-banner" 
{% comment %} style="background: url(https://cdn.shopify.com/s/files/1/0569/9217/0159/files/Hero_Banner.png?v=1735988744) 100% no-repeat;" {% endcomment %}
>
    <div class="px-[114px] flex items-center pt-[146px] pb-[190px] h-screen_">
        <div class="text-center lg:text-left leading-tight">
            <h1 class="text-[48px] font-bold leading-tight tracking-[-2.4px] {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}" >
                Rise and thrive with&nbsp;&nbsp;Day Shrooms
            </h1>
            <p class="text-[40px] font-medium leading-tight mb-4 tracking-[-2px]">
                Your new go-to productivity booster 
            </p>


            <p class="text-[28px] mb-10 tracking-[-1.4px]">
                Try our new ultimate coffee alternative designed to <br/> supercharge productivity, focus, and daily flow.
            </p>


            <a href="#" class="btn btn-primary">
                TRY DAY SHROOMS
            </a>
        </div> 
    </div>

    <div class="w-full border-b border-pink">
        <svg class="w-full translate-y-[1px] h-auto" xmlns="http://www.w3.org/2000/svg" width="1440" height="142" viewBox="0 0 1440 142" fill="none">
            <path d="M348.75 101.471C646.5 81.3778 630.375 -22.1029 918.75 45.8795C1207.12 113.862 1440 45.8795 1440 45.8795V141.992H0V0C0 0 51 121.564 348.75 101.471Z" fill="#FF3EAD"/>
        </svg>
    </div>
    
</section>

{%  schema  %} 
    {
        "name": "Homepage Banner",
        "class": "section--homepage-banner",
        "settings": [

        ],
        "presets": [
            {
                "name": "Homepage Banner"
            }
        ]
    }
{% endschema %}